*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration:none !important;
    color: #000 !important;
}


/* header start */



/* header end */