*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration:none !important;
    color: #000 !important;
}
.container{
    overflow:  hidden !important;
}

/* header start */
.header-main {
    position:relative;
}
.mount{
    position:absolute;
    bottom:-20px;
    z-index: -1;
}


/* header end */

/* work-item start */
.work-item{
    background-color:#FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}
.line{
    background-color:#F9BC6E;
    width: 89px;
    height: 3px;
}
.r-works{
    margin-left: auto;
    margin-top: 50px;
}
.shadow-hover:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
    transition: box-shadow 0.3s ease !important; 
  }

/* work-item end */

/* section-book start */

.section-book{
    background-color:#F9BC6E;
}
.box-1{
    position: relative;
}
.im-1{
    position: absolute;
    top: -40px;;
    left: -60px;
}
.box-2{
    position: relative;
}
.im-2{
    position: absolute;
    top: -40px;;
    right: -60px;
}
.box-3{
    position: relative;
}
.im-3{
    position: absolute;
    top: -40px;;
    left: -60px;
}
.box-4{
    position: relative;
}
.im-4{
    position: absolute;
    top: -40px;;
    right: -60px;
}

/* section-book end */

/* consulation start */

.btn-em{
    background-color:#C59E6F;
    border: 0;
    border-radius:10px;
    color: #fff;
}
.btn-em:hover{
    background-color:#d09854;
}
.mail{
    border-radius: 10px;
    border: 0;
}
.f-si{
    font-size:40px;
    color: #fff;
}
.custom-line{
    width:120px;
    background: linear-gradient(to right, #FFFFFF,#FFFFFF, #e4c299);
    padding: 2px;
    color: #fff;
}

/* consulation end */

/* tetimonials start */

.tetimonials{
    background-color: #fff;
    margin: auto!important;
    padding:auto!important;
}
.tet-box-1{
    position: relative;
    background-color: #F9BC6E;
    width: 5px;
    height: 200px; 
}
.img-q{
    position: absolute;
    bottom: -30px;
    left: 45px;
}
.a-hov:hover{
    color: #F9BC6E !important;
}

/* tetimonials end */

/* article-section start */

.article-section{
    background-color: #F9BC6E;
}
.article-box{
    background-color: #DFA762;
    color:#fff;
}
.w-button{
    background-color: #fff;
    padding:10px;
}
.w-button:hover{
    background-color: #fff;
    padding:10px;
    color: #F9BC6E !important;
}
/* article-section end */

/* section-meetings start */

.section-meetings{
    background-color: #fff;
}
.y-button{
    background-color: #F9BC6E;
    padding: 10px;
    color: #fff !important;
}
.y-button:hover{
    background-color: #F9BC6E;
    padding: 10px;
    color: #000 !important;
}

/* section-meetings end */

/* footer start */
.footer-main{
    background-color:#F9BC6E;
    color:#000000;
}
.ornange-line{
    background-color: #F9BC6E;
    width:70px;
}

/* footer end  */

/* blog page edit start */

/* b-main start */

.b-main{
    position: relative;
    padding: 300px auto !important;
}
.b1-main{
    position: absolute;
    top: 40%;
    z-index: -1;
}
.b-p{
    padding: 150px
}


/* b-main end */